<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shane.smartform">

    <uses-feature android:name="android.hardware.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".Activity.TestListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.IntroActivity" android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Activity.TestPagerActivity" android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Activity.TestListActivity" />
        </activity>
        <activity android:name=".Activity.TestCameraActivity" android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.CameraActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>